@font-face {
    font-family:"Poppins";
    src: url("Poppins-Regular.ttf") format("truetype");
}

:root {
    --navbar-color:  rgba(192, 202, 212, 0.9);
    --link-hover-color: rgb(250, 250, 211);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.site {
    overflow:hidden !important;
    position: relative;
    width: 100%;
}

body, html {
   font-family: Poppins, sans-serif;

}


ul a {
    text-decoration: none;
    color:black;
}

ul a:hover {
    color: var(--link-hover-color);
}

h1 {
    margin: 15px;
}
ul {
    list-style: none;
}

.logo img {
    width: 200px;
    height: 200px;
    margin: 10px;
    position: absolute;
}

nav {
    display: flex;
    justify-content: space-between;
    height: auto;
     
}

.nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    background-color: var(--navbar-color);
    padding: 80px 15px 10px 5px;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}

.nav-links li {
    margin:15px 0px;
    text-transform: uppercase;
    justify-content: right;
    text-align: right;
    min-width: 8rem;
    font-size: 1.5rem;
    opacity: 0;
}

.burger {
    display: block;
    cursor: pointer;
    margin: 20px;
    position: absolute;
    right: 0%;
}


.burger div {
    width: 25px;
    height: 3px;
    margin:5px;
    background-color: thistle;
    transition: all 0.3s ease;
    
}

.hero img {
    width: 100%;
    min-width: 600px;
    position: relative;
    top:0%;
    z-index: -3;

}

.hero h1 {
    color:beige;
    margin-top: -50px;
    margin-left: 20px;
    font-size: 1.3rem;
    text-transform: uppercase;
}


section {
    margin: 30px 30px 30px 30px;
    padding: 10px 15px;
}

footer {
    background-color: rgba(155, 153, 153, 0.589);
    text-align: center;
}

.footer-icons {
    display: inline-flex;
    justify-self: center;
    justify-content: space-around;
    width: 200px;
    padding-top: 15px;
}

.email {
    padding-top: 10px;
    padding-bottom: 15px;
}

.icon img {
    width: 35px;
    height: 35px;
}

p {
    text-align: center;
}

/*Larger than portrait mobile */
@media (min-width: 800px) {

    body, html {
        font-size: 1rem;
    }

.logo img {
    margin-left:20px;
}

    .nav-links {
        display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 220px;
    background-color: white;
    padding: 10px;
    width: 20%;
    transform: translateX(0%);
    
    }

    .nav-links li {
        justify-content: flex-end;
        font-size: 1rem;
        opacity:1;
    }

    .nav-links li a {
        padding:5px;
    }

    ul a:hover {
        color: rgb(163, 163, 76);
        background-color: rgba(128, 128, 128, 0.425);
    }

    .burger {
        display: none;
    }

    .hero img {
        width:100%;
        max-width: 1000px;
        position: relative;
        top:0%;
        left:20%;
    
        z-index: -3;
    }

    .hero h1 {
        margin-left: 28%;
    }

    section {
        margin: 20px 10% 30px 25%;
    }

}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: black;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: black;
}

/*Larger than portrait mobile */
@media only screen and (min-width: 800px) {
    .logo img {
        margin-left: 60px;
    }

}



@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

